<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chatbox.css">

     <div id="page-heading">
    <h1>chatus ->> <%= title %></h1>
  </div>
    <div id="home-container">
      <section id="explore">
        <div>

          <% if(locals.user){ %>
            <form action="/img/uploadimg" method="post"  enctype="multipart/form-data">
              <input type="file" name="imgpost" placeholder="img"><br><br><br>
              <!-- <input type="text" name="desc" placeholder="descriptinon"><br><br><br> -->
              <input type="submit">
          </form>
          <% } else{ %>  
            <h1>bar</h1>
         <% } %>
          
          
        </div>
       </section>
   <section id="feed-post">
  
      <h4>Post</h4>
      <% if(locals.user){ %>
       <form action="/posts/create" id="new-post-form" method="POSt">
        <textarea name="content"  cols="30" rows="10" placeholder="type something...." required></textarea>
        <input type="submit" >
       </form>
       
       <% } %>
       <div id="posts-list-container">
               <ul>
                <% for(post of posts) {%> 
                     
                     <%- include('_post') -%>
                     
                    <%}%>
               </ul>
       </div>
   </section>

   <section id="user-freind">
      <h3>our freind</h3>
         <% for(u of all_users) {%>
            <p>

                <a href="/user/profile/<%= u.id %>">
                  <%= u.name %>
                </a>
            </p>
            
            <%} %>

            <%- include('_chatbox') -%>
   </section>

   
  </div>

  <script src="/js/home_posts.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chatengine.js"></script>

<% if (locals.user){ %>
  <script>
      new ChatEngine('user-chat-box', '<%= locals.user.email %>')
  </script>
  <% } %>